# Archivos de compilación
bin/
obj/

# Configuración de usuario específica de Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Configuración de dependencias
*.cache
*.pdb
*.mdb

# Configuración de entornos y sistema
.DS_Store
.idea/
Thumbs.db
*.dbmdl

# Archivos de publicación
publish/
out/

# Configuración de Node.js y paquetes
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración sensibles
appsettings.json
app.config
